<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">


  <link rel="stylesheet" href="css/style.css">
  <title>Food Truck Finder</title>
</head>

<body>
  <header>
    <h2><a href="/"> Food Truck Finder</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/trucks">All Trucks</a>
        </li>
        <li>
          <a href="/trucks/add">Add Truck</a>
        </li>
      </ul>
    </nav>
  </header>

  {{{body}}}
</body>
<!-- FOOTER -->
  <footer class="fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col l6 s12 center">
          <br>
          <h5 class="white-text">Problems with Website let us know</h5>
          <ul>
            <li>Email: <a href="mailto:Beef-boyz@beefy-boyz.com" target="_blank">Beef-boyz@beefy-boyz.com</a></li>
          </ul>
        </div>
        <div class="col l6 s12 center">
          <br>
          <h5 class="white-text">Credit to the Developers</h5>
          <ul>
            <li><a href="https://github.com/justinpricer" target="_blank">Justin Pricer</a></li>
            <li><a href="https://github.com/rolara57" target="_blank">Roger lara</a></li>
            <li><a href="https://github.com/jasandper" target="_blank">Jason Perez</a></li>
            <li><a href="https://github.com/chaseKay97" target="_blank">Chase Kilpatirck</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->

</html>